@model IEnumerable<RadCBA.Core.Models.Customer>

@{
    ViewBag.Title = "SelectCustomerAccount";
}

<h2>Select Customer Account</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-striped table-bordered" id="dataTable">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.CustId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>*@
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CustId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>*@
            <td>@Html.ActionLink("Open Savings Account", "CreateSavings", new { id = item.ID })</td>
            <td>@Html.ActionLink("Open Current Account", "CreateCurrent", new { id = item.ID })</td>
            <td>@Html.ActionLink("Open Loan Account", "CreateLoan", new { id = item.ID })</td>
        </tr>
    }
</tbody>

</table>